[submodule "nvim"]
	path = .nvim_config/nvim
	url = https://github.com/HannauwLaing/kickstart.nvim
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".background_files"]
	path = .background_files
	url = https://github.com/HannauwLaing/BackgroundChanger
